h1 svg {
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}
h1:hover svg {
    fill: #fff;
}
body {
  font: 1em/150% Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0 auto;
  max-width: 33em;
}
