$primary: #222831;
$secondary: #777777b6;
$third: #00adb5;
$fourth: #eeeeee;
$black: #000;
$font-stack: Arial,
Helvetica,
sans-serif;

$z-top: 10;
$z-mid: 5;
$z-bot: 2;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: $font-stack;
    color: $primary;
    background-color: $fourth;
    line-height: 1.7;
    // font-size: larger;
    width: 100%;
    transition: all 0.3s ease-out;
}

.grid-box {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 800px));
    grid-auto-flow: dense;
    justify-content: center;
    margin-top: 50px;
}

.article-grid-box {
    display: grid;
    gap: 30px;
    margin: 0 auto;
    padding-bottom: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    justify-content: center;
}

article.item {
    width: 95%;
    border: 2px solid $primary;
    padding: 0;
    margin: 0 auto;
}

div.item {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    // margin-top: 30px;
    padding: 15px;
    border: 2px solid $secondary;
}

div.item {

    .slider {

        flex-direction: row;
        display: flex;
        flex: none;
        overflow: auto;
        width: 100%;
        scroll-snap-type: x mandatory;
        align-items: center;
        .slide-item {
            background-color: #ffffff;
            scroll-snap-align: start;
            img {
                display: block;
                max-width: 320px;
                margin: 0 auto;
            }
        }
    }
}

.v-hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

#project {
    display: none;
}

#studyLog {
    display: none;
}

//nav
.nav-up {
    top: -80px;
    transition: all .5s ease-in-out;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: $primary;
    transition: all .3s ease-in;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $primary;

        .current {
            background-color: $fourth;
            margin: 10px 0 0 0;
            border-radius: 20px 20px 0 0;

            span {
                display: none;
            }

            i {
                width: 100%;
                font-size: x-large;
                color: $primary;
                transition: all .5s ease-in-out;
            }
        }

        .li-hover:hover {
            // background-color: $secondary;
            transition: all .1s;

            cursor: pointer;

            span {
                display: none;
            }

            i {
                width: 100%;
                font-size: x-large;
                color: $fourth;
                transition: all .1s;
            }
        }

        li {
            align-items: center;
            background-color: $primary;
            list-style: none;
            width: 100%;
            text-align: center;
            font-size: medium;
            border-radius: 20px 20px 0 0;
            transition: all .3s ease-out;

            span {
                color: $fourth;
                height: 100%;
                font-weight: 600;
            }

            i {
                height: 100%;
                padding: 15px;
                color: $fourth;
            }
        }
    }
}

main {

    padding-top: 50px;
    width: 100%;
    height: fit-content;

    div {
        width: 100%;
        margin: 0;

        article {

            text-align: left;
            // padding: 20px 0;
            // margin: auto;


            h1 {
                position: sticky;
                z-index: 5;
                top: 0;
                font-size: large;
                padding: 8px;
                color: $fourth;
                background-color: $primary;
                text-align: center;
                transition: all .3s ease-in-out;
                margin-bottom: 30px;
            }



            .name-is {
                display: flex;
                width: max-content;
                flex-flow: row;
                overflow: hidden;
                height: 26px;
                margin: 5px auto;
                color: $primary;

                // padding: 5px;
                .my_name {
                    text-align: center;
                    // padding: 5px;
                    margin: 0 auto;
                }

                .let {
                    margin: 0 10px;
                    word-break: break-all;
                    width: 0;
                    overflow: hidden;
                    color: $secondary;
                    // transition: all .8s ease-in-out;

                }
            }

            .name-is:hover {


                .let {
                    max-width: max-content;
                    width: 100%;
                    transition: all 2s ease;
                }

            }


            h3 {
                display: block;
                width: 100%;
                // height: 30px;
                text-align: center;
                font-size: medium;
                margin: 0;
                padding: 5px;
                background-color: $secondary;
            }

            h4 {
                text-align: center;
                font-size: 15px;
                color: $primary;
                margin: 15px auto;
            }

            ol {
                margin: 15px 45px;
                list-style: lower-alpha;

                li {
                    font-weight: 500;
                }
            }

            span {
                display: block;
                width: 100%;
                font-weight: bolder;
                text-align: center;
                margin: 5px 0;
            }

            p {
                text-align: left;
            }
        }
    }



    a {
        display: flex;
        flex-direction: row;
        // align-items: center;
        // justify-items: center;
        width: max-content;
        margin: 5px auto;
        color: $primary;
        // transition: all 1s;
    }


    a:hover {


        .description {
            width: 100%;
            transition: all .8s;
        }
    }

    .i {
        justify-self: flex-start;
        align-self: flex-start;
        font-size: xx-large;
        width: fit-content;
        margin: 0 auto;
        color: $primary;
        transition: all .3s;
    }

    .description {
        padding: 5px 0;
        margin: 0 5px;
        width: 0px;
        font-size: 14px;
        height: 24px;
        font-weight: bold;
        text-align: left;
        overflow: hidden;
        word-break: break-all;
        transition: all .3s;
    }
}



.v-mode {
    position: fixed;

    bottom: 80px;
    right: 30px;

    width: 40px;
    height: 30px;

    border-radius: 30px;
    padding: 6px 12px;

    // transition: all .3s ease-in-out;

}


.v-mode:hover {
    cursor: pointer;

}

.fa-moon {
    background-color: #77777777;
}

.fa-sun {
    background-color: #77777777;
}

.scroll-btn {
    position: fixed;

    bottom: 45px;
    right: 30px;

    width: 40px;
    height: 30px;

    border-radius: 30px;
    padding: 6px 14px;
    background-color: #77777777;
    // transition: all .3s ease-in-out;
}

.scroll-btn:hover {
    cursor: pointer;
}