.object {
  width: 24px;
  height: 24px;
}
.svg:hover .my_git_logo {
  fill: #fff;
}
.parent {
  position: relative;
  width: 30;
  height: 30;
}
.parent a {
  display: block;
  position: absolute;
  width: 30;
  height: 30;
  color: #fff;
  background: rgba(0, 0, 0, 0);
}
body {
  font: 1em/150% Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0 auto;
  max-width: 33em;
}
