$foundation-palette: (primary: #222831,
    secondary: #393e46,
    third: #00adb5,
    fourth: #eeeeee);

$font-stack: Arial,
Helvetica,
sans-serif;

$z-index: (topper: 100,
    topp: 15,
    tom: 10,
    mid: 5,
    mib: 3,
    bot: 1);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: $font-stack;
    color: map-get($foundation-palette, primary);
    line-height: 1.7;
    width: 100%;
    a{
        color: map-get($foundation-palette, secondary);
    }
    a:hover{
        color: map-get($foundation-palette, third);
    }
}

@media (min-width: 200px) and (max-width:800px) {

    #project {
        display: none;
    }

    #studyLog {
        display: none;
    }

    //nav
    .nav {
        width: 100%;
        position: fixed;
        top: 0;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .current {
                background-color: map-get($foundation-palette, fourth);

                span {
                    display: none;
                }

                i {
                    width: 100%;
                    padding: 15px;
                    font-size: x-large;
                    color: map-get($foundation-palette, primary);
                }
            }

            .li-hover:hover {
                background-color: map-get($foundation-palette, primary);
                transition: all .1s;
                cursor: pointer;

                span {
                    display: none;
                }

                i {
                    width: 100%;
                    padding: 15px;
                    font-size: x-large;
                    color: map-get($foundation-palette, third);
                    transition: all .1s;
                }
            }

            li {
                align-items: center;
                background-color: map-get($foundation-palette, secondary);
                list-style: none;
                width: 100%;
                text-align: center;

                span {
                    color: map-get($foundation-palette, fourth);
                    font-weight: 600;
                }

                i {
                    padding: 15px;
                    color: map-get($foundation-palette, fourth);
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        width: 100%;
        height: fit-content;
        background-color: map-get($foundation-palette, fourth);

        div {
            width: 100%;

            article {

                h1 {
                    font-size: xx-large;
                    color: map-get($foundation-palette, primary);
                }

                h2 {
                    font-size: larger;
                    padding: 10px;
                    margin: 10px 0;
                    color: map-get($foundation-palette, fourth);
                    background-color: map-get($foundation-palette, primary);
                    text-align: center;
                }

                h3 {
                    font-size: larger;
                }

                ol{
                    margin-left: 20px;
                    list-style: square;
                }
                width: 90%;
                text-align: left;
                padding: 20px;
                margin: auto;
            }
        }

        .i {
            font-size: 50px;
            font-weight: bolder;
            text-align: center;
            margin: 20px;
            color: map-get($foundation-palette, primary);
            
        }

        i:hover {
            cursor: pointer;
            color: map-get($foundation-palette, third);
        }
    }

}

@media (min-width: 801px) {

    //nav
    .nav {
        width: 100%;
        position: fixed;
        bottom: 0;

        .li:hover {
            background-color: map-get($foundation-palette, primary);
            transition: all .1s;
            cursor: pointer;

            span {
                display: none;
            }

            i {
                width: 100%;
                padding: 17px;
                font-size: x-large;
                color: map-get($foundation-palette, fourth);
                transition: all .1s;
            }
        }

        .li {
            align-items: center;
            background-color: map-get($foundation-palette, fourth);
            list-style: none;

            span {
                color: map-get($foundation-palette, fourth);
                font-weight: 600;
            }

            i {
                padding: 15px;
                color: map-get($foundation-palette, fourth);
            }
        }
    }

    main {
        padding-top: 60px;
        width: 100%;
        height: 100vh;
        background-color: map-get($foundation-palette, primary);
    }

}