$primary: #222831;
$secondary: #657894;
$third: #00adb5;
$fourth: #eeeeee;

$font-stack: Arial,
Helvetica,
sans-serif;

$z-top: 10;
$z-mid: 5;
$z-bot: 2;

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: $font-stack;
    color: $primary;
    background-color: $fourth;
    line-height: 1.7;
    // font-size: larger;
    width: 100%;
    transition: all 0.3s ease-out;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 800px));
    grid-auto-flow: dense;
    justify-content: center;
}

.article-grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    justify-content: center;

}

.v-hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

#project {
    display: none;
}

#studyLog {
    display: none;
}

//nav
.nav-up {
    top: -65px;
    transition: all .5s ease-out;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: $secondary;
    transition: all .3s ease-in;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $secondary;

        .current {
            background-color: $fourth;

            span {
                display: none;
            }

            i {
                width: 100%;
                font-size: xx-large;
                color: $primary;
                transition: all .5s ease-in-out;
            }
        }

        .li-hover:hover {
            background-color: $fourth;
            transition: all .1s;
            cursor: pointer;

            span {
                display: none;
            }

            i {
                width: 100%;
                // padding: 15px;
                font-size: x-large;
                color: $primary;
                transition: all .1s;
            }
        }

        li {
            align-items: center;
            background-color: $fourth;
            list-style: none;
            width: 100%;
            text-align: center;
            font-size: medium;
            transition: all .3s ease-out;

            span {
                color: $primary;
                font-weight: 600;
            }

            i {
                padding: 15px;
                color: $primary;
            }
        }
    }
}

main {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding-top: 50px;
    width: 100%;
    height: fit-content;

    div {
        width: 100%;
        margin: 10px 0;

        article {

            text-align: left;
            padding: 20px 0;
            // margin: auto;


            h1 {
                position: sticky;
                z-index: 5;
                top: 0;
                left: 0;
                font-size: larger;
                padding: 10px;
                margin: 30px;
                color: $fourth;
                background-color: $primary;
                text-align: center;
                transition: all .3s ease-in-out;
                // border-radius: 0 0 100px 100px;
            }



            .name-is {

                display: flex;
                flex-flow: row;
                overflow: hidden;
                height: 40px;
                color: $primary;

                .my_name {
                    padding: 10px 0;
                    font-size: 20px;
                    width: 100%;
                    text-align: center;
                    transition: all .5s;

                }

                .let {
                    margin: 0 10px;
                    word-break: break-all;
                    font-size: 20px;
                    width: 0;
                    padding: 10px 0;
                    overflow: hidden;
                    color: $secondary;
                }
            }

            .name-is:hover {

                .my_name {
                    width: 25%;
                    transition: all 1s ease;
                }

                .let {
                    max-width: max-content;
                    width: 100%;
                    transition: all 3s ease;
                }

            }



            h3 {
                width: fit-content;
                font-size: large;
                margin: 15px 45px;
                border-bottom: 1px solid $primary;
            }

            h4 {
                text-align: center;
                margin: 15px 30px;
            }

            ol {
                margin: 15px 45px;
                list-style: lower-alpha;

                li {
                    font-weight: 500;
                }
            }

            span {
                display: block;
                width: 100%;
                font-weight: bolder;
                text-align: center;
                padding: 0 35px;

            }

            p {
                text-align: left;
                padding: 10px 35px;
            }
        }
    }



    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: max-content;
        margin: 0 auto;
        color: $primary;
        // transition: all 1s;
    }


    a:hover {
        .i {
            transition: all .8s;
        }

        .description {
            width: 100%;
            transition: all .8s;
        }
    }

    .i {
        margin: 10px;
        font-size: 50px;
        color: $primary;
        transition: all .3s;
    }

    .description {
        color: $secondary;
        padding: 0;
        margin: 0;
        width: 0px;
        height: 26px;
        font-weight: bold;
        text-align: left;
        overflow: hidden;
        word-break: break-all;
        transition: all .3s;
    }
}



.v-mode {
    position: fixed;

    bottom: 80px;
    right: 30px;

    width: 40px;
    height: 30px;

    border-radius: 30px;
    padding: 6px 12px;

    // transition: all .3s ease-in-out;

}


.v-mode:hover {
    cursor: pointer;

}

.fa-moon {
    background-color: #393e4650;
}

.fa-sun {
    background-color: #393e4650;
}

.scroll-btn {
    position: fixed;

    bottom: 45px;
    right: 30px;

    width: 40px;
    height: 30px;

    border-radius: 30px;
    padding: 6px 14px;
    background-color: #393e4650;
    // transition: all .3s ease-in-out;
}

.scroll-btn:hover {
    cursor: pointer;
}